.month-view-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.header-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    margin-bottom: 10px;
}

.header-day {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    font: bold;
    border: 1px solid #0056b3;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 250px;
    height: 200px;
}

.events-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #0056b3;
    border-radius: 5px;
    background-color: #0056b3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
    margin-top: 0;
}

.add-event-btn {
    height: 40px;
    width: 100%;
    border: none;
    background-color: #33c90e;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font: bold;
    display: none;
}

.add-event-btn:hover {
    background-color: #218838;
}

.day:hover {
    .add-event-btn {
        display: block;
    }

    background-color: #0056b3;
    color: white;
}